/* NEIL Website Stylesheet */

/*
	These top CSS definitions drive the major regions of the pages.
*/
html {
	margin: 2em;
	padding: 0;
}

body {
	font: 100% Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
}

article, footer, header, nav {
	display: block;
}

article {
	float: right;
	margin: 0.5em 0 0.5em 0;
	width: 79%;
}

header {
}

nav {
	float: left;
	margin: 1em 0 0.5em 0;
	width: 18%;
}

footer {
	border-top: 1px solid black;
	border-left: 1px solid black;
	clear: both;
	font-size: 75%;
	font-style: italic;
	font-weight: normal;
	margin: 0.5em 0 0 0;
	padding: 0.25em;
}

footer p {
	margin: 0;
	padding: 0;
}

/*
--------------------------------------------------------------------------------
	The definitions that follow drive specific things within a larger section. This is where very, very specific formatting controls go.
	
	Please try to keep the definitions as specific as needed and as generic as possible. Some things, like headers, should be common across all things. Some things, like divs, have specific purposes. It's OK to share definitions, but using different names can be easier to read and understand. This will also allow us to change things later if we want, without breaking the display in weird and unexpected places.
	
	Please try to group things together, and to keep the groupings alphabetical. Yes, I can search with the editor search to find things, but if they're in a nice, neat order, you don't need to. Good coding discipline makes maintenance easier. And yes, I spell anal-retentive with a hyphen. 
	
	I'm also a devout commentist.
*/

div.NEILGoal, div.referenceNote {
	background-color: #c2c2ff;
    border: 2px solid #49176D;
	font-style: italic;
	margin: 1.5em 8em;
	padding: 0 0.5em;
	
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;

    -moz-box-shadow: 0px 0px 5px #49176D;
    -webkit-box-shadow: 0px 0px 5px #49176D;
    box-shadow: 0px 0px 5px #49176D;
}

/*
	We want headers to look similar, with borders. Only the size should change.
*/
h1, h4 {
	border-top: 1px solid black;
	border-left: 1px solid black;
	margin: 0.5em 0 0 0;
	padding: 0.25em;
}

h1 {
	font-size: 200%;
}

h4 {
	font-size: 100%;
}

/* Used in reference note divs. */
p.citation {
	font-size: 75%;
	font-style: normal;
	text-align: right;
}

/* 
	This is used in the 25 year note to cite LARPA as holding the license for the Intercon name.
*/
p.LARPACitation {
	font-size: 75%;
	font-style: italic;
	font-weight: normal;
	text-align: center;
}

/* This replaces nobr, which is deprecated. */
span.legalReference {
	white-space: nowrap;
}

/*
	We want the table centered in the middle of the page. The CSS does that. This is adapted from the original, and radically simplified. The tables that share this CSS have additional definitions to control that width.
	
	Rounded corners do not appear to work on the table, but we can put the shadow in.
*/
table.byogHistoryTable,
table.conventionHistoryTable,
table.neilBoardTable,
table.neilBoardHistoryTable,
table.neilBylawsTable,
table.neilMinutesTable,
table.newEnglandInterconTable,
table.newEnglandNELCOTable {
	border-bottom: 2px solid #49176D;
	border-right: 2px solid #49176D;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;

    -moz-box-shadow: 0px 0px 5px #49176D;
    -webkit-box-shadow: 0px 0px 5px #49176D;
    box-shadow: 0px 0px 5px #49176D;
}

table.byogHistoryTable td.byogName {
	font-style: italic;
}

table.byogHistoryTable td,
table.conventionHistoryTable td,
table.neilBoardTable td,
table.neilBylawsTable td,
table.neilMinutesTable td,
table.newEnglandInterconTable td,
table.newEnglandNELCOTable td {
	border-top: 2px solid #49176D;
	border-left: 2px solid #49176D;
	padding: 5px;
}

table.byogHistoryTable th,
table.conventionHistoryTable th,
table.neilBoardTable th,
table.neilBoardHistoryTable th,
table.neilBylawsTable th,
table.neilMinutesTable th,
table.newEnglandInterconTable th,
table.newEnglandNELCOTable th {
	background-color: #49176D;
    color: #ffffff;
	font-weight: bold;
	padding: 5px;
	/* th always aligns the text in the center. */
}

table.byogHistoryTable,
table.newEnglandInterconTable,
table.newEnglandNELCOTable {
	width: 100%;
}

table.byogHistoryTable tr.byogPast,
table.newEnglandInterconTable tr.conPast,
table.newEnglandNELCOTable tr.conPast {
	background-color: #c2c2ff;
}

table.conventionHistoryTable {
	width: 75%;
}

table.conventionHistoryTable tr.convention {
	background-color: #c2c2ff;
}

/* 
	While I dislike using tables to align things, sometimes it's the easiest way. 
*/
table.headerImageTable {
	width: 100%;
}

table.headerImageTable td.left {
	text-align: left;
}

table.headerImageTable td.center {
	text-align: center;
}

table.headerImageTable td.right {
	text-align: right;
}

table.headerImageTable td {
	width: 33%;
}

table.headerImageTable {
	width: 100%;
}

table.neilBoardHistoryTable td.neilHistoryChair {
	color: #000000;
	background-color: #00cccc;
	white-space: nowrap;
	text-align: center;
}

table.neilBoardHistoryTable td.neilHistoryMember {
	color: #000000;
	background-color: #99cccc;
	white-space: nowrap;
	text-align: center;
}

table.neilBoardHistoryTable td.neilHistoryAdvisor {
	color: #000000;
	background-color: #cccccc;
	white-space: nowrap;
	text-align: center;
}

table.neilBoardHistoryTable td.neilHistoryTbd {
	color: #000000;
	background-color: #ffcccc;
	white-space: nowrap;
	text-align: center;
}

table.neilBoardHistoryTable td.neilHistoryBlank {
	color: #000000;
	background-color: #ffffff;
	white-space: nowrap;
	text-align: center;
}

table.neilBoardTable td.termExpiration,
table.newEnglandInterconTable td.conLink,
table.newEnglandInterconTable td.conAttendance, 
table.newEnglandNELCOTable td.conLink,
table.newEnglandNELCOTable td.conAttendance {
	text-align: center;
}

/* The menu CSS is reverse-engineered from the Intercon site. */
ul.menu {
    margin: 0;
	text-align: center;
	list-style-type: none;
    margin-left: 0;
    padding: 0;
    border: 2px solid #49176D;
    
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    
    background-color: #49176D;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#c2c2ff));
    background-image: -moz-linear-gradient(top, #fff, #c2c2ff);

    -moz-box-shadow: 0px 0px 5px #49176D;
    -webkit-box-shadow: 0px 0px 5px #49176D;
    box-shadow: 0px 0px 5px #49176D;
}

ul.menu li {
    border-bottom: 1px solid #49176D;
}

ul.menu li a {
    display: block;
    padding: 3px;
    font-size: 90%;
}

ul.menu li.title
{
	background-color: #49176D !important;
	color: white;
	font-weight: bold;
}

ul.menu li a:hover {
    background-color: rgba(255, 255, 0, 0.2);
}

ul.menu li a, ul.menu li a:visited {
    color: black;
    text-decoration: none;
}

